body {
    margin: 0;
    padding: 0;
    color: aquamarine;
    background-color: burlywood;
    text-align: center;
    transition: all .2s;
}

#title {
    font-size: 70px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kub1,
.kub2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.h5 {
    margin-bottom: 40px;
}

/* Cubs */
.active {
    display: block;
}

.cub {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    background-color: brown;
    margin-bottom: 20px;
    display: block;
    transition: .3s linear;
}

.cub:hover {
    transform: rotate(360deg);
}

.cub1,
.cub2,
.cub3,
.cub4,
.cub5,
.cub6 {
    display: none;
}

.cub__inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.dot {
    width: 40px;
    height: 40px;
    content: "";
    border-radius: 50%;
    background-color: #fff;
}

/* Cub1 */
.dot1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

/* Cub2 */
.dot2-1,
.dot3-1,
.dot4-3 {
    position: absolute;
    top: 0;
    right: 0;
}

.dot2-2,
.dot3-3,
.dot4-2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Cub3 */
.dot3-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

/* Cub4 */
.dot4-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.dot4-4 {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Cub6 */
.dot6-2 {
    position: absolute;
    top: 40%;
    left: 19px;
    transform: translateX(-50%);
}

.dot6-5 {
    position: absolute;
    top: 40%;
    right: -19px;
    transform: translateX(-50%);
}